h1,
h2,
h3,
h4,
h5,
h6,
.slogan-heading {
    color: #5e81ac;
}

html {
    font-family: Verdana;
    scroll-behavior: smooth;
}

body {
    background: #3b4252;
    color: #d8dee9;
    margin: 30px 10px;
    border-width: 0;
    padding: 0%;
}

.samazon {
    background-image: linear-gradient(90deg, #a3be8c, #d8dee9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fullimage {
    width: 100%;
    z-index: 0;
}

.sectionimage {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.smallimage {
    width: 20%;
    margin: 2% 2%;
    align-self: center;
    z-index: 0;
}

.smallimage:hover {
    transform: scale(1.5);
}

.smallimage:active {
    width: 20%;
}

.slogan {
    text-align: center;
    display: block;
    padding: 25px;
    font-family: 'Segoe UI';
    font-size: xxx-large;
    font-weight: bold;
    background-image: linear-gradient(90deg, #d8dee9, #5e81ac);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*forms*/

fieldset {
    align-self: center;
    width: 80%;
    margin: 1%;
    padding: 3% 5%;
    border-color: #3b4252;
    border-radius: 10px;
}

legend,
label,
.formtext {
    color: #5e81ac;
}

.text {
    background-color: #4c566a;
    height: 35px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    color: #d8dee9;
    border-style: solid;
    border-color: #5e81ac;
    border-radius: 10px;
}

#phone_no {
    width: 85%;
    margin: 0%;
    padding: 0%;
    float: right;
}

#country_code {
    width: 10%;
    margin: 0%;
    padding: 0%;
    float: left;
}

input:focus :active {
    background-color: #5e81ac;
    outline: 0 !important;
}

input:current {
    background-color: #a3be8c;
}

button,
input.button {
    background-color: #5e81ac;
    border: #5e81ac;
    color: #2e3440;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover,
input.button:hover {
    background-color: #81a1c1;
    border: #81a1c1;
    color: #2e3440;
}

button:active,
input.button:active {
    background-color: #d08770;
    border: #d08770;
    color: #2e3440;
}

/* The Layout */

.layout-box {
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
}

header {
    border-radius: 10px;
    padding: 2% 2%;
    margin: 1% 1% 1% 1%;
    text-align: center;
    background: #4c566a;
}

header.small {
    padding: 0.5% 0%;
}

footer {
    border-radius: 10px;
    margin: 1% 1% 1% 1%;
    padding: 1% 2%;
    text-align: center;
    background: #4c566a;
}

nav {
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
    padding: 1% 2%;
    text-align: left;
    background: #434c5e;
}

nav.top {
    margin-top: 2%;
}

nav.bottom {
    margin-bottom: 2%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    margin: 1% 1% 1% 1%;
    padding: 1% 2%;
    display: inline;
    border-radius: 10px;
    float: right;
    width: 20%;
    height: auto;
    text-align: center;
    background: #4c566a;
}

article {
    margin: 1% 1% 1% 1%;
    padding: 1% 2%;
    display: inline;
    border-radius: 10px;
    width: 68%;
    float: left;
    text-align: left;
    background: #2e3440;
}

article.full {
    width: 100%;
}

@media screen and (max-width: 700px) {
    aside,
    article {
        flex-direction: column;
        width: 100%;
    }
}

/* Links */

a:link {
    color: #81a1c1;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #88c0d0;
}

a:active {
    color: #d08770;
}

a.navlink:visited {
    color: #81a1c1;
}

a:visited {
    color: #b48ead;
}

a:visited:hover {
    color: #88c0d0;
}

a:visited:active {
    color: #d08770;
}

/* Tables and such */

table,
th,
td {
    border: 1px solid white;
    padding: 3px;
    border-collapse: collapse;
    word-break: break-all;
}

table {
    width: 100%;
}
